<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a la API de ganadores de los Oscar</h1>
    <p>Puedes consultar</p>
    <ul>
        <li><a href="/oscars">Lista años disponibles</a></li>
        <li><a href="/oscars/2011">Premios de 2011</a></li>
        <li><a href="/oscars/2012">Premios de 2012</a></li>
        <li><a href="/oscars/2013">Premios de 2013</a></li>
        <li><a href="/oscars/2014">Premios de 2014</a></li>
        <li><a href="/oscars/2015">Premios de 2015</a></li>
    </ul>

    <p>Para consultar en un año qué película o actores se llevaron más de 1 premio:</p>
    <ul>
        <li><a href="/winners-multiple/2012">Lista de ganadores múltiples (2012)</a></li>
    </ul>
</body>
</html>